@import '../../styles.scss';
@import '../../themes.scss';


// .test {
//     height: 500px;
//     background-color: #2d54de;
// }

// #recap {
//     margin-bottom: 100px;
// }

.slotpicker {
    width: 100%;
    height: 100%;
    margin: auto;
}



.calendar {
    width: 95%;
    max-width: 600px;
    margin-top:20px;
}

.dayAvailabilities {
    width: 95%;
    max-width: 600px;
    margin-top:20px;
}

.day-available {
    left: 0%;
    width: 100%;
}


.os-day-box {
    border-radius:4px;
}

.os-weekdays {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.os-weekdays .weekday {
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 2px;
    width: 14.2%;
    text-align: center;
    padding: 5px 0px
}

.os-weekdays .weekday.weekday-6,
.os-weekdays .weekday.weekday-7 {
    color: #ccb63b;
    background-color: #fffef2
}

// .os-current-month-label-w {
//     position: relative
// }

.month-label {
    margin:auto;
    text-align: center;
}

// .os-current-month-label-w .os-month-prev-btn,
// .os-current-month-label-w .os-month-next-btn {
//     position: absolute;
//     border: none;
//     font-size: 14px;
//     background-color: transparent;
//     box-shadow: none;
//     outline: none;
//     color: #111;
//     top: 55%;
//     transform: translateY(-50%);
//     padding: 0px;
//     margin: 0px;
//     line-height: 1;
//     vertical-align: middle;
//     display: inline-block;
//     cursor: pointer
// }

// .os-current-month-label-w .os-month-prev-btn.os-loading,
// .os-current-month-label-w .os-month-next-btn.os-loading {
//     color: transparent !important
// }

// .os-current-month-label-w .os-month-prev-btn.os-loading span,
// .os-current-month-label-w .os-month-prev-btn.os-loading i,
// .os-current-month-label-w .os-month-next-btn.os-loading span,
// .os-current-month-label-w .os-month-next-btn.os-loading i {
//     color: transparent !important
// }

// .os-current-month-label-w .os-month-prev-btn.os-loading:after,
// .os-current-month-label-w .os-month-next-btn.os-loading:after {
//     display: block;
//     content: "";
//     width: 14px;
//     height: 14px;
//     border-bottom: 2px solid #1f222b;
//     border-left: 2px solid #1f222b;
//     border-top: 2px solid #1f222b;
//     border-right: 2px solid rgba(0, 0, 0, 0);
//     border-radius: 20px;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     animation: os-loading 700ms infinite linear
// }

// .os-current-month-label-w .os-month-prev-btn:hover,
// .os-current-month-label-w .os-month-next-btn:hover {
//     color: #2d54de
// }

// .os-current-month-label-w .os-month-prev-btn:focus,
// .os-current-month-label-w .os-month-next-btn:focus {
//     outline: none
// }

// .os-current-month-label-w .os-month-prev-btn.disabled,
// .os-current-month-label-w .os-month-next-btn.disabled {
//     color: rgba(0, 0, 0, 0.1)
// }

// .os-current-month-label-w .os-month-prev-btn {
//     left: 10px
// }

// .os-current-month-label-w .os-month-next-btn {
//     right: 10px
// }

// .os-current-month-label-w .os-current-month-label {
//     text-align: center;
//     font-weight: 500;
//     letter-spacing: 2px;
//     font-size: 16px;
//     margin-bottom: 10px;
//     color: #1f222b
// }



//!!!!!not sure if need to comment this

// .os-monthly-calendar-days-w {
//     display: none
// }

// .os-monthly-calendar-days-w.active {
//     display: block
// }

// .step-datepicker-w {
//     padding: 0px 30px
// }

.os-monthly-calendar-days {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.os-monthly-calendar-days .os-day {
    width: 14.2%;
    padding: 2%;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer
}

.os-monthly-calendar-days .os-day.week-day-6,
.os-monthly-calendar-days .os-day.week-day-7 {
    background-color: #fffef2
}

.os-monthly-calendar-days .os-day.os-day-next-month,
.os-monthly-calendar-days .os-day.os-day-prev-month {
    color: #B7BCCB;
    background-color: #fff
}

.os-monthly-calendar-days .os-day.os-day-current .os-day-box {
    background-color: #F2F4F9
}

.os-monthly-calendar-days .os-day.os-day-passed .os-day-box {
    background-color: #f7f8fb
}

.os-monthly-calendar-days .os-day.os-day-passed .os-day-box .os-day-number {
    color: #bdc5da
}

.os-monthly-calendar-days .os-day.os-not-in-allowed-period .os-day-box {
    background-color: #f7f8fb
}

.os-monthly-calendar-days .os-day.os-not-in-allowed-period .os-day-box .os-day-number {
    color: #bdc5da
}

.os-monthly-calendar-days .os-day.os-today .os-day-box {
    background-color: #fff6cb
}

.os-monthly-calendar-days .os-day.os-month-next .os-day-box,
.os-monthly-calendar-days .os-day.os-month-prev .os-day-box {
    opacity: 0.6
}

.os-monthly-calendar-days .os-day.os-month-next .os-day-box:hover,
.os-monthly-calendar-days .os-day.os-month-prev .os-day-box:hover {
    opacity: 1
}

.os-monthly-calendar-days .os-day .os-day-box {
    padding-bottom: 100%;
    position: relative;
    overflow: hidden
}

.os-monthly-calendar-days .os-day .os-day-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #4c5261;
    transition: transform 0.1s ease
}

.os-monthly-calendar-days .os-day:hover .os-day-box .os-day-number {
    top: 46%;
    font-size: 15px;
    white-space: nowrap
}

.os-monthly-calendar-days .os-day.selected .os-day-box {
    background-color: #2d54de;
    color: #fff;
    opacity: 1
}

.os-monthly-calendar-days .os-day.selected .os-day-box .os-day-number {
    color: #fff;
    font-size: 16px
}

.os-monthly-calendar-days .os-day.selected .os-day-box .os-day-status {
    display: none
}

.os-day-status {
    width: 100%;
    margin: 0px auto;
    margin-top: 10px;
    height: 15%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    // background-color: #f95858;
    background-color: #e7ebf2
}

.os-day-status .day-available {
    background-color: nb-theme(color-primary-500);
    top: 0px;
    bottom: 0px;
    position: absolute;
    z-index: 1;
    min-width: 3px
}

