
<nb-card [accent]="selectedCard === service ? 'primary' : ''">
    <nb-card-header >
        <div *ngIf="service.category_name_service === 'Happy Hours'" class="div-com" fxLayout="row" fxLayoutAlign="end">
            <i fxFlexAlign="baseline" class="material-icons md-18 happy icon-menu" >star</i>
            <p class="caption-2 happy-hours">{{service.category_name_service}}!</p>
        </div>
        </nb-card-header>
    <nb-card-body fxLayout="row" fxLayoutGap="15px">

        <nb-user 
            name="{{service.name}}" 
            title="{{service.short_description}}"
            size="large"
            picture="{{service.thumbnail_url}}">
        </nb-user>
        <div fxLayout="column" fxLayoutAlign="space-between">
            <p class="service-duration">{{service_duration}} min.</p>
            <p class="service-price" fxFlexAlign="end">{{service_pricemin}}<span *ngIf="displaydevise">€</span></p>
        </div>
    </nb-card-body>
</nb-card>
