@import '../../themes.scss';
@import '../../styles.scss';

nb-card-header{
padding: 0;
}

.service-duration {
    font-size: var(--text-caption-font-size);
}

.service-price {
    font-weight: var(--text-heading-6-font-weight);
    color: var(--text-heading-6-color);
}

.div-com {
    margin-top: 8px;
    margin-bottom: 5px;
    margin-right:10px;
    margin-left:10px;
}

.happy-hours {
    margin-top: 0px;
    margin-bottom: 0px;
    color: nb-theme(color-danger-600);
    font-style: italic;
}

// .priceandduration {
//     float:right;
// }
