@import '../styles.scss';
@import '../themes.scss';


.header-menu {
    display: block;
    width: 100%;
}

nb-layout-column {
    padding: nb-theme(layout-small-padding);
    margin:0;
    text-align:center;
}

.footer-menu {
    position: fixed;
    width:100%;
    bottom:0;
    overflow: hidden;
}

[nbButton].appearance-filled.status-primary {
    background-color: var(--button-filled-primary-background-color);
    border-color: var(--button-filled-primary-border-color);
    color: var(--button-filled-primary-text-color);
}



