<nb-layout class="main-layout" >

  <nb-layout-header class="header" fixed *ngIf="!headerAndFooterDisabled && !headerDisabled" >
    <div>
      <div (click)="onLogoClick()" >
        <img src="../assets/logo.png" alt="logo" height="42">
      </div>
    </div >
    <div class="header-menu" fxLayout="row" fxLayoutAlign="end">
      <!-- <button nbButton size="tiny" id="btnAddApp">Installer l'appli</button> -->
      <button nbButton ghost (click)="onLogOut()" *ngIf="isLoggedIn">
        <i class="material-icons md-36 primary icon-menu"  >
          exit_to_app
        </i>
      </button>
      <!-- <button nbButton ghost *ngIf="!isLoggedIn">
        <i class="material-icons md-36 primary icon-menu" >
          account_box
        </i>
      </button> -->

        <!-- <nb-toggle class="header-toggle" [checked]="notOn" (change)="notOn = !notOn"></nb-toggle>
        <nb-actions size="medium" fullWidth ></nb-actions>
        <i class="material-icons md-36 primary" *ngIf="!notOn" id="not">
          notifications_off
        </i>
        <i class="material-icons md-36 primary" *ngIf="notOn" id="not">
          notifications_active
        </i> -->
    </div>
  </nb-layout-header>

  <!-- for animation, but to be reworked -->
  <!-- <nb-layout-column router-wrap [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''" >
    <router-outlet #o="outlet"></router-outlet>
  </nb-layout-column> -->

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed class="footer-menu" *ngIf="!headerAndFooterDisabled">

    <!-- advise new version available -->
    <div *ngIf="newVersionAvailable" fxLayout="column" >
        <div class="divclosingbtn">
            <button class="btn-close" nbButton ghost (click)="closeDivNewVersion()"><i class="material-icons md-18 discret icon-close" >clear</i></button>
        </div>
        <div class="adviseNewVersion">
            <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
                <img class="icon-logo" fxFlexAlign="center" src="../assets/icons/icon-72x72.png" alt="logo" height="30px" width="30px">
                <p class="paragraph-2 p-adviseNewVersion" >Une nouvelle version de l'application est disponible</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="center">
              <button nbButton class="btn-newVersionAvailable" size="tiny" (click)="updateVersion()"> Mettre à jour</button>
            </div>
        </div>
      </div>

    <!-- Navigation -->
    <div *ngIf="!navButtonsDisabled" fxLayout="row" fxLayoutAlign="center" fxLayoutWrap="wrap" fxLayoutGap="20%" fxLayoutGap.xs="5%">
      <button nbButton size="small" id="prev" #btnLeft [disabled]="btnPrevIsDisabled" (click)="goStep(btnLeft)">Retour</button>
      <button class="regularBtn" nbButton size="small" id="next" #btnRight [disabled]="btnNextIsDisabled" (click)="goStep(btnRight)">{{btnMenu}}</button>
    </div>
  </nb-layout-footer>

</nb-layout>
