@import '../styles.scss';
@import '../themes.scss';


.header-menu {
    display: block;
    width: 100%;
}

// nb-layout-column {
//     padding: nb-theme(layout-small-padding);
//     margin:0;
//     text-align:center;
// }


.footer-menu {
    position: fixed;
    width:100%;
    bottom:0;
    overflow: hidden;
}

[nbButton].appearance-filled.status-primary.btn-terminer {
    background-color: var(--button-filled-primary-background-color);
    //background-color: red;
    border-color: var(--button-filled-primary-border-color);
    color: var(--button-filled-primary-text-color);
  }

  [nbButton].appearance-filled.status-primary.btn-terminer:hover {
    background-color: var(--button-filled-primary-background-color);
    border-color: var(--button-filled-primary-background-color);
    color: var(--button-filled-primary-text-color);
  }

  [nbButton].appearance-filled.status-primary.btn-terminer:focus {
    background-color: var(--button-filled-primary-focus-background-color);
  border-color: var(--button-filled-primary-focus-background-color);
  color: var(--button-filled-primary-text-color);
  outline: none;
  }

.advise-app-install{
    margin-bottom:20px;
}

.divinfo {
    padding-left: 25px;
    padding-right: 25px;
}

.btn-newVersionAvailable {
    margin:auto;
    margin-top:10px;
    margin-bottom: 20px;
}

.btn-close {
    float: right;
    padding:0 !important;
}

.icon-close {
    margin:unset;
}

.message-plus-applogo-div {
    margin-bottom:10px;
}

.p-stickybanner {
    text-align: left;
}

.secondary-message {
    margin: 2px !important;
}

.alert-p {
    margin-top:unset;
}

.alert-btn {
    margin-top:5% !important;
    text-transform: none;
    min-width:none;
    text-align: center;
}