<nb-layout class="main-layout" >

  <nb-layout-header class="header" fixed *ngIf="!headerAndFooterDisabled && !headerDisabled" >
    <div>
      <div (click)="onLogoClick()" >
        <button nbButton ghost>
        <img src="../assets/logos/logo.png" alt="logo" height="42">
      </button>
      </div>
    </div >
    <div class="header-menu" fxLayout="row" fxLayoutAlign="end">
      <!-- <button nbButton size="tiny" id="btnAddApp">Installer l'appli</button> -->
      <button nbButton ghost (click)="goToUserAccount()" *ngIf="isLoggedIn">
        <i class="material-icons md-36 primary icon-menu"  >
          account_box
        </i>
        </button>
      <button nbButton ghost (click)="onLogOut()" *ngIf="isLoggedIn">
        <i class="material-icons md-36 primary icon-menu"  >
          exit_to_app
        </i>
      </button>
      <!-- <button nbButton ghost *ngIf="!isLoggedIn">
        <i class="material-icons md-36 primary icon-menu" >
          account_box
        </i>
      </button> -->

        <!-- <nb-toggle class="header-toggle" [checked]="notOn" (change)="notOn = !notOn"></nb-toggle>
        <nb-actions size="medium" fullWidth ></nb-actions>
        <i class="material-icons md-36 primary" *ngIf="!notOn" id="not">
          notifications_off
        </i>
        <i class="material-icons md-36 primary" *ngIf="notOn" id="not">
          notifications_active
        </i> -->
    </div>
  </nb-layout-header>

  <!-- for animation, but to be reworked -->
  <!-- <nb-layout-column router-wrap [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''" >
    <router-outlet #o="outlet"></router-outlet>
  </nb-layout-column> -->

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed class="footer-menu" *ngIf="!headerAndFooterDisabled" >
    <!-- mettre une classe dynamique pour réduire le padding quand seules les bannières s'affichent -->
  <div fxLayout="column" fxLayoutAlign="center">

    <!-- Install banner sticky bottom menu -->
      <div id="banner-install-app" class="Install-banner" *ngIf="installBannerForIos || installBannerForSamsungInternet" fxLayout="column" fxLayoutAlign="center">
          <div class="divclosingbtn">
              <button class="btn-close" nbButton ghost (click)="closeInstallBanner()"><i class="material-icons md-18 discret icon-close" >clear</i></button>
          </div>
          <div class="divinfo" fxLayout="column" fxLayoutAlign="center">
              <div class="advise-app-install" fxLayout="column">
                  <div class="message-plus-applogo-div" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
                      <img class="icon-logo" fxFlexAlign="center" src="../assets/icons/icon-72x72.png" alt="logo" height="40px" width="40px">
                      <p fxLayoutAlign="center" class="paragraph p-stickybanner" >{{message1}}</p>
                  </div>
                  <p class="paragraph p-stickybanner secondary-message" *ngIf="message2">{{message2}} <img 
                      src="./../assets/icon_download_samsung.png"
                      alt="icon download pwa Samsung"
                      height="20px"
                      width="20px"
                  /></p>
                  <p class="paragraph p-stickybanner secondary-message" *ngIf="message3">{{message3}} <img 
                      src="./../assets/icon_ios.png"
                      alt="icon action Ios"
                      height="20px"
                      width="20px"
                  /></p>
                  <p class="paragraph p-stickybanner secondary-message" *ngIf="message4">{{message4}}</p>
              </div>
              <!-- <button fxFlexAlign="center" class="alert-btn" nbButton size="tiny" (click)="close()">fermer</button> -->
          </div>
      </div>


    <!-- advise new version available -->
    <div class="NewVersion" *ngIf="newVersionAvailable" fxLayout="column" >
        <div class="divclosingbtn">
            <button class="btn-close" nbButton ghost (click)="closeDivNewVersion()"><i class="material-icons md-18 discret icon-close" >clear</i></button>
        </div>
        <div class="adviseNewVersion divinfo">
            <div fxLayout="row" fxLayoutGap="10px">
                <img class="icon-logo" fxFlexAlign="center" src="../assets/icons/icon-72x72.png" alt="logo" height="40px" width="40px">
                <p class="paragraph p-stickybanner" >Une nouvelle version de l'application est disponible</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="center">
              <button nbButton class="btn-newVersionAvailable" size="tiny" (click)="updateVersion()"> Mettre à jour</button>
            </div>
        </div>
      </div>

    <!-- Navigation -->
    <div *ngIf="!navButtonsDisabled" fxLayout="row" fxLayoutAlign="center" fxLayoutWrap="wrap" fxLayoutGap="20%" fxLayoutGap.xs="5%">
      <button nbButton size="small" id="prev" #btnLeft [disabled]="btnPrevIsDisabled" (click)="goStep(btnLeft)">Retour</button>
      <button class="regularBtn" nbButton size="small" id="next" #btnRight [disabled]="btnNextIsDisabled" (click)="goStep(btnRight)">{{btnMenu}}</button>
    </div>
  </div>
  </nb-layout-footer>

</nb-layout>
