@import '../../themes.scss';
@import '../../styles.scss';

h1{
    margin-block-start: 0;
}

.welcome {
    background-color: var(--background-primary-color-1);
    min-height: 100vh;
    margin-bottom: 0;
}

.welcome-title {
    color: var(--text-info-color);
    width: 80%;
}

.welcome-content {
    color: var(--text-info-color);
    width: 80%;
}

button.welcome-button {
    display:block;
    margin: auto; 
}

.test-div {
    position: absolute;
    bottom:0;
    padding:15px;
}


.share-button {
    margin:auto;
    min-width: auto !important;
    padding:10px !important;
}

.add-app-btn {
    display: none;
}


// @media all and (display-mode: standalone){
//     .add-app-btn {
//       display: none;
//     }
//   }


// [nbButton].size-medium {
//     font-weight: 700 !important;
// }

