@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

$nb-enable-css-custom-properties: true;

$nb-themes: nb-register-theme((


//1 - couleur fond neutre
//2 - couleur appel boutons + icones : color Appel primary contrast : A décliner en tons
//3 et 4 - couleur fond secondaire // textes et bouttons

//5 - couleur "theme_color" wm
//6 - couleur "background_color" wm
//7 - couleur "contend" index.html
//8 - couleur logo init color ( should match text-info-color )

//here replace the colors by the customer theme
//the default theme colors are here : https://akveo.github.io/nebular/docs/design-system/default-theme


// 1- couleur fond neutres
//*************************
        
        /* Basic colors - for backgrounds and borders and texts */

        color-basic-100: white,
        color-basic-200: #f7f8fa,
        color-basic-300: #edf0f4,
        color-basic-400: #dde1eb,
        color-basic-500:#c5cee0,
        color-basic-600:#8f9bb3,
        color-basic-700:#2e3a59,
        color-basic-800:#222b45,
        color-basic-900:#192038,
        color-basic-1000:#151a30,
        color-basic-1100: #131729,

        background-basic-color-1: color-basic-100, //used also for header and footer
        background-basic-color-2: color-basic-200,
        background-basic-color-3: color-basic-300,
        background-basic-color-4: color-basic-400,

        border-basic-color-1: color-basic-100,
        border-basic-color-2: color-basic-200,
        border-basic-color-3: color-basic-300,
        border-basic-color-4: color-basic-400,
        border-basic-color-5: color-basic-500,


                //fond neutre et carte blanches
                layout-background-color: background-basic-color-2,
                card-background-color: background-basic-color-1,
  
                //fond blanc et cartes neutres
                // layout-background-color: background-basic-color-1,
                // card-background-color: background-basic-color-2,


// 2- couleur Appel boutons + icones range : button, spinner, icons, available, selected
//**************************************************************************************
        
        /* Primary  colors - for buttons, icons, spinner, selected */
        
        color-primary-100: #F3FBE8, //used in datepicker selection
        color-primary-200: #EDEDED, //not used
        color-primary-300: #B0DE88, //not used
        color-primary-400: #86BE61, //used in buttons status-primary:hover
        color-primary-500: #549434, //used in main button
        color-primary-600: #3E7F26, //not used
        color-primary-700: #2A6A1A, //not used
        color-primary-800: #1A5510, //not used
        color-primary-900: #0E4709, //used in buttons status-primary:focus

        button-filled-primary-focus-background-color : color-primary-900,
        card-header-primary-background-color : color-primary-500,


// 2- couleur Welcome & bye : will be soft or contrasted matching Appel
//********************************************************************

        //we will use us variable var(--background-primary-color-1); in
        //background init
        //background welcome
        //background bye

        //ici on match avec primary, mais on peut choisir ce qu'on veut
        background-primary-color-1:color-primary-500,
        //background-primary-color-1:#00ff7e,

                //other in case
                background-primary-color-2: color-primary-600, //not used
                background-primary-color-3: color-primary-700, //not used
                background-primary-color-4: color-primary-800, //not used
                background-alternative-color-1:#222b45, //not used
                background-alternative-color-2:#192038, //not used
                background-alternative-color-3: #151a30, //not used
                background-alternative-color-4: #101426, //not used


        //we will use variable to update welcome, bye cpt
        //var(--text-info-color) for text contrasted color;
        //var(--button-filled-info-text-color)
        //var(--button-filled-info-background-color)

        text-info-color: color-info-100,
        button-filled-info-text-color : color-info-200,
        button-filled-info-background-color : color-info-300,
        button-filled-info-focus-background-color : color-info-500,

        
        color-info-100: #F3FBE8, // main color for button
        color-info-200: background-primary-color-1, //contrasted color text for button // could be something completely different
        color-info-300: color-info-100, //leave this like that
        
                //other should tones of color-info should be used for focus and selected
                color-info-400:#2c2e31,//not used
                color-info-500:#B0DE88, // color on focus
                color-info-600:#6b7076,//not used
                color-info-700: #003F73,//not used
                color-info-800: #002D5C,//not used
                color-info-900: #00204C,//not used





         
// 4- other colors for communication, messages
// *******************************************

        color-success-100: #CCFBD1, //not used
        color-success-200: #9BF8AD,//not used
        color-success-300: #67EA8E, //ground in succes messages
        color-success-400: #40D57B,//not used
        color-success-500: #0DBA63,//not used
        color-success-600: #099F63,//not used
        color-success-700: #06855F,//text in success message
        color-success-800: #046B56,//not used
        color-success-900: #025950,//not used
        
        color-warning-100: #FEF5CB,//not used
        color-warning-200: #FEE898,//not used
        color-warning-300: #FDD665,//not used
        color-warning-400: #FBC53E,//not used
        color-warning-500: #F9AA00,//not used
        color-warning-600: #D68B00,//not used
        color-warning-700: #B36E00,//not used
        color-warning-800: #905400,//not used
        color-warning-900: #774200,//not used

        color-danger-100: #FDE3D6,//not used
        color-danger-200: #FBC2AE,//not used
        color-danger-300: #F49784,//ground in error message
        color-danger-400: #E96F63,//not used
        color-danger-500: #DB3434,//text in error message
        color-danger-600: #BC2633,//text in error message, cancelled, happy hour
        color-danger-700: #9D1A30,//not used
        color-danger-800: #7F102D,//not used
        color-danger-900: #69092A,//not used


  font-family-primary: "Open Sans, sans-serif",
//   font-family-secondary: "Roboto, sans-serif",
  font-family-secondary: "Abril fatface, cursive",

  text-heading-1-font-family:font-family-secondary,
  //text-heading-1-font-family:font-family-primary,
  text-heading-1-font-weight:400,


  text-heading-6-color:#333,
  //prix des services
  text-heading-6-font-family:font-family-primary,
  text-heading-6-font-weight:600,
  text-paragraph-font-size:1rem,

  button-text-font-weight: 700,

  card-border-radius:0.40rem,
  card-shadow:none,

  layout-small-padding:0,
  layout-medium-padding:0,
  layout-padding:0,

  layout-max-height:100vh,
  layout-max-width:100vw,

  header-shadow:none,
  footer-padding:20px,
  
  user-name-text-font-weight:700,
  
), default, default);
