<div class="auth" fxLayout="row" fxLayoutAlign="center">
    <div *ngIf="isLoading">
        <app-loding-spinner></app-loding-spinner>
    </div>
    <nb-card class="form-card" *ngIf="!isLoading">
        <nb-card-body >
            <h6>{{pageTitle}}</h6>
            <div>
                <!-- registerForm -->
                <div class="register" *ngIf="displayRegister">
                    <form class="form-form" fxLayout="column" fxLayoutGap="10px" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <input type="text" nbInput fullWidth placeholder="Email*" [formControlName]="'email'">
                        <span class="error-message" *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched">Entrez un email valide</span>
                        <div fxLayout="row">
                        <input [type]="getInputType()" nbInput fullWidth placeholder="Mot de passe*" [formControlName]="'password'">
                        <nb-icon class="pswdiscret" [icon]=" showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                        [attr.aria-label]="showPassword ? 'hide password' : 'show password'"
                        (click)="toggleShowPassword()">
                        </nb-icon>
                        </div>
                        <span class="error-message" *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched">Entrez un mot de passe valide</span>
                        <span class="tip-message">Le mot de passe doit contenir au minimum 8 caractères, une majuscule, une lettre et un nombre</span>
                       
                        <div class="form-valid" fxLayout="column" fxLayoutAlign="center">
                            <button [disabled]="!registerForm.valid" class="form-button" type="submit" nbButton>Continuer</button>
                        </div>
                    </form>
                </div>

                <!-- askForNewPasswordForm -->
                <div class="retreive-password" *ngIf="displayAskForNewPassword">
                    <form class="form-form" fxLayout="column" fxLayoutGap="10px" [formGroup]="askForNewPasswordForm" (ngSubmit)="onSubmit()">
                        <input type="text" nbInput fullWidth placeholder="Email*" [formControlName]="'email'">
                        <span class="error-message" *ngIf="!askForNewPasswordForm.get('email').valid && askForNewPasswordForm.get('email').touched">Entrez un email valide</span>
                        <div class="form-valid" fxLayout="column" fxLayoutAlign="center">
                            <button [disabled]="!askForNewPasswordForm.valid" class="form-button" type="submit" nbButton>Continuer</button>
                        </div>
                    </form>
                </div>

                <!-- changePasswordForm -->
                <div class="change-password" *ngIf="displayChangePassword">
                    <form class="form-form" fxLayout="column" fxLayoutGap="10px" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                        <input type="text" nbInput fullWidth placeholder="Clé reçue par email*" [formControlName]="'tokenPassword'">
                        <span class="error-message" *ngIf="!changePasswordForm.get('tokenPassword').valid && changePasswordForm.get('tokenPassword').touched">Entrez une clé secrete valide</span>
                        <div fxLayout="row">
                            <input [type]="getInputType()" nbInput fullWidth placeholder="Mot de passe*" [formControlName]="'password'">
                            <nb-icon class="pswdiscret" [icon]=" showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                                            [attr.aria-label]="showPassword ? 'hide password' : 'show password'"
                                            (click)="toggleShowPassword()">
                            </nb-icon>
                        </div>
                        <span class="error-message" *ngIf="!changePasswordForm.get('password').valid && changePasswordForm.get('password').touched">Entrez un mot de passe valide</span>
                        <div fxLayout="row">
                            <input [type]="getInputType()" nbInput fullWidth placeholder="Confirmation du mot de passe*" [formControlName]="'confirmedPassword'">
                            <nb-icon class="pswdiscret" [icon]=" showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                                            [attr.aria-label]="showPassword ? 'hide password' : 'show password'"
                                            (click)="toggleShowPassword()">
                            </nb-icon>
                            <!-- <nb-icon class="pswdiscret" [icon]=" showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                                            [pack]="eva"
                                            [attr.aria-label]="showPassword ? 'hide password' : 'show password'"
                                            (click)="toggleShowPassword()">
                            </nb-icon> -->
                        </div>
                        <span class="error-message" *ngIf="!changePasswordForm.get('confirmedPassword').valid && changePasswordForm.get('confirmedPassword').touched">Les deux mots de passe ne correspondent pas</span>
                        <span class="tip-message">Le mot de passe doit contenir au minimum 8 caractères, une majuscule, une lettre et un nombre</span>
                        <div class="form-valid" fxLayout="column" fxLayoutAlign="center">
                            <button [disabled]="!changePasswordForm.valid" class="form-button" type="submit" nbButton>Continuer</button>
                        </div>
                    </form>
                </div>
            
                <!-- loginForm -->
                <div class="login" *ngIf="displayLogin">
                    <form class="form-form" fxLayout="column" fxLayoutGap="10px" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <input type="text" nbInput fullWidth placeholder="Email*" [formControlName]="'email'">
                        <span class="error-message" *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">Entrez un identifiant valide</span>
                        <div fxLayout="row">
                                <input [type]="getInputType()" nbInput fullWidth placeholder="Mot de passe*" [formControlName]="'password'">
                                <nb-icon class="pswdiscret" [icon]=" showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                                        [attr.aria-label]="showPassword ? 'hide password' : 'show password'"
                                        (click)="toggleShowPassword()">
                                </nb-icon>
                        </div>
                        <span class="error-message" *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Entrez un mot de passe valide</span>
                        <div class="form-valid" fxLayout="column" fxLayoutAlign="center">
                            <button [disabled]="!loginForm.valid" class="form-button" type="submit" nbButton>Continuer</button>
                        </div>
                    </form>
                </div>

                <div *ngFor="let pageMenu of pageMenus" fxLayout="row" fxLayoutAlign="center">
                    <button  nbButton size="large" class="change_display"(click)="handleMenuChoice(pageMenu)">{{pageMenu}}</button>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
</div>
